.main-heading{
    text-align:center
}
h1 {
    color: red;
    text-decoration: underline
}
body {
    background-color: beige;
    background-image: url("../imgs/swirl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-style: oblique;
}
ol,ul {
    list-style: square
}
table,tr,td,th {
    border: 2px #ff9822 solid;
}
a:link {
    color: aquamarine;
}
a:visited {
    color:blue;
}
a:hover {
    color: yellow;
}
a:active {
    color: purple;
}


